<!-- TASK 06-->
<!-- TASK 10-->

{% extends 'base.html' %}

{% block title %}Note List{% endblock %}

{% block content %}
    <ul>
      {% for note in page_obj %}
        <li>
          <a href="{% url 'notes:note_detail' note.id %}">{{ note.title }}</a>
        </li>
      {% empty %}
        <li>Brak notatek.</li>
      {% endfor %}
    </ul>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
{% endblock %}